@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: var(--white);
    line-height: 150%;
}

.page{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--Grey800)
}

li {
    list-style: none;
}
.card {
    background-color: var(--Grey700);
    min-width: 32.5rem;
    padding: 4rem 2.4rem 2.4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.card__content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__content--image{
    height: 8.8rem;
    width: 8.8rem;
    border-radius: 50%;
    object-fit: cover;
}

.card__content__info--country{
    color: var(--green)
}
.card__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        list-style: none;
        gap: 1.6rem;
}
.card__socials--social{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 30rem;
        min-width: 25rem;
        width: 100%;
        min-height: 4.6rem;
        border-radius: 0.8rem;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
        background-color: var(--Grey800);
        transition: background-color 0.2s ease, color 0.2s ease;
}
.card__socials--social:hover{
    background-color: var(--green);
    text-decoration: none;
    color: var(--Grey700);
    transition: color 0.3s ease;
}